/* SongList.css */

.library-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.song-list {
  width: 250px; /* Adjust width as needed */
  background-color: #fafafa;
  height: 100vh; /* Take full height of the viewport */
  overflow-y: auto; /* Make it scrollable */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
  padding: 1rem;
}

.song-list-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between cover image and song info */
  padding: 10px;
  cursor: pointer;
  border-radius: 4px; /* Optional: rounded corners */
}

.song-list-item.active,
.song-list-item:hover {
  background-color: #efefef; /* Highlight the active or hovered song item */
}

.song-cover {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 4px; /* Optional: rounded corners for images */
}

.song-description {
  display: flex;
  flex-direction: column;
}

.song-title,
.song-artist {
  margin: 0;
}

.song-title {
  font-weight: bold;
}

.song-artist {
  font-size: 0.9rem;
  color: #555;
}
