/* App.css */
body,
html {
  font-family: "Inter", sans-serif; /* Tailwind uses Inter by default */
  background-color: #f3f4f6; /* Light gray background */
}

#root,
.App {
  min-height: 100vh; /* Full viewport height */
}
